body {
    background: #e65c00;  
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  
    background: linear-gradient(to right, #F9D423, #e65c00); 
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}